.closeFriendWrapper {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.closeFriendImage {
    width: 32px; 
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

